<!doctype html>
<html>

<head>
    <title>ChatBot</title>
    <style>
        * {
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 19px Helvetica, Arial;
            padding-left: 20%;
            padding-right: 20%;
        }

        #f {
            background: #000;
            position: fixed;
            bottom: 1%;
            left: 20%;
            right: 20%;
            border: 1px solid black;
        }

        #f input {
            border: 2px solid black;
            width: 80%;
            font-size: 120%;
        }

        #f button {
            background: rgb(130, 224, 255);
            border: 2px solid black;
            margin-right: 0;
            width: 20%;
            font-size: 120%;
        }

        #messages {
            list-style-type: none;
            padding: 0;
            padding-bottom: 3%;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
            text-align: right;
        }

        a:link {
            color: red;
        }

        /* visited link */
        a:visited {
            color: green;
        }

        /* mouse over link */
        a:hover {
            color: hotpink;
        }

        /* selected link */
        a:active {
            color: blue;
        }

        h4 {
            margin: 1rem;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />

</head>
<% var socket_id = id %>
<% var name = name %>
<% var email = email %>
<% var occupation = occupation %>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<body>
    <h4>Name: <%= name %></h4>
    <h4>Email: <%= email %> </h4>
    <h4>Occupation: <%= occupation %></h4>
    <ul id="messages">
        <% chat.forEach(msg => { %>
        <li><%= msg %> </li>
        <% }) %>
    </ul>
    <form action="" id="f">
        <input id="m" autocomplete="off" /><button type="submit">Send</button><button class="btn btn-primary"
            type="button" onclick="stopbot()">STOPBOT</button>
    </form>
    <script>
        var socket = io.connect('http://localhost:3000');
        var userid = '<%-socket_id%>';
        $(function () {
            $('form').submit(function (e) {
                e.preventDefault(); // prevents page reloading
                var adminreply = $('#m').val();
                socket.emit('adminreply', {
                    adminreply,
                    userid
                });
                $('#messages').append($(`<li>${$('#m').val()}</li>`))
                $('#m').val('');
                return false;
            });
        });
        function stopbot() {
            socket.emit('stopbot', userid);
            $('#messages').append($('<li>Bot is now not replying</li>'));
        }
        socket.on('usertoadmin', function (msg) {
            $('#messages').append($('<li>' + msg + '</li>'));
        });
    </script>
</body>

</html>